<section>
    <div *ngIf="emplt">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{emplt.name}}</mat-card-title>
              <mat-card-title>{{emplt.id}}</mat-card-title>
            </mat-card-header>
            <p></p>
            <mat-divider></mat-divider>
            <div class="mat-card-content">
                <mat-card-content>
                    <p></p>
                <p> 
                    Role : {{emplt.role}}
                </p>
                <p>
                    Gender : {{emplt.gender}}
                </p>
                <p>
                    Date of Birth : {{emplt.dob}}
                </p>
                </mat-card-content>
                <mat-card-actions class="buttonsContainer">
                <button mat-stroked-button (click)="goBack()">Back</button>
                <div></div>
                <button mat-stroked-button (click)="openDialog()">Edit</button>
                </mat-card-actions>
            </div>
          </mat-card>
    </div>
</section>
